.body_wrapper{
  width: auto;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start; 
  flex-wrap: wrap;
  padding: 3rem;
  background-color: rgb(245, 248, 251);

  /*background: rgb(131,58,180);
  background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,0.6899802157191002) 26%, rgba(252,176,69,1) 100%);*/
}
@media screen and (max-width: 579px) {
  .body_wrapper{
    width: auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;   
  }  
}
.body_column{

  width: 20rem;
  margin: 2rem;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;  
  border-radius: 1rem;
  border: solid;    
  border-width: thick;
  border-color: tomato;
  box-shadow: 10px 14px 12px 0px rgba(0,0,0,0.59);
  
  
}
.text{
  width: 100%;
  height: auto;
  min-height: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: center;
}
.media-adjuster{
  width: 100%;
  min-width: 52rem;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content:space-around;
  align-items: flex-start; 
  padding: 0 1.5rem 3rem 1.5rem;
  background-color: rgb(245, 248, 251);
}


.button_box{
  width: 100%;
  height: 20rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  
}
  
  
 .btn{
   width: 15rem;
   height: 15rem;   
   border-radius: 7.5rem;
   background-color: 00000;
   font-size: 3.5rem;
   font-style: italic;
   font-weight: bold;
   line-height: 1.33;
   text-align: center;
   color: white;
   
   background-color:rgb(255, 108, 55);
   
   stroke: 00000;
   
   border: rgba(0,0,0,.1);
   box-shadow: 0 3px #999;
 }
 .btn:hover{background-color: #27bd65;
  cursor: pointer;
  
}

 .btn:active{
  background-color: #71e225;
  box-shadow: 0 1.5rem #666;
  transform: translateY(1.5rem);
  transition: 1s ease-out;
}
.btn_link{
  text-decoration: none;
  color: white;
}
.btn_link:hover{
  color: rgb(255, 108, 55);
}
h3{
  font-weight: bold;  
}
h4{
  font-weight: bold;  
  text-decoration: underline;
}

.Modal {
  position: fixed;
  display: none;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
  background: rgba(0,0,0,0.7);
  
  pointer-events: none;
}
.Modal:target {
  display: flex;
  pointer-events: auto;
 
} 
.Modal_Body {
  position: fixed; 
  height: 40rem;
  width: 49rem; 
  top: 0;
  right: 0;
  bottom: 33%;
  left: 0%;
  z-index: 2;
  display: block;
  margin: auto;
  padding: 0rem 0 0 1rem;
  background: rgb(167, 167, 167);
  border-radius: 2rem;  
}
.Modal,.Modal_Body{
  animation: fadeIn 1s;
}
@keyframes fadeIn{
  from {
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}
/*#ModalResetButton:active{
  .Modal,.Modal_Body{
    animation: fadeOut 1s;
  }
  @keyframes fadeOut{
    from {
      opacity: 1;
    }
    to{
      opacity: 0;
    }
  }
} */

.ModalFull {
position: absolute;
display: block;
z-index: 0;
width: 100%;
height: 100%;

}

  .footer{
    width: 100%;
    padding: 5rem 0rem;
    height: auto;
    color: rgb(249, 111, 63);
    display: flex;
    flex-direction: row;
    align-items: center;
    
    background-color: rgb(43, 59, 65);

    /*background: rgb(34,193,195);
    background: linear-gradient(180deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
    line-height: 0.5rem;*/
  }
  .footer a{
    color: white;
    text-decoration: none;
  }
  .footer a:hover{
    color: #27bd65;
    text-decoration: underline;
  }



  @media screen and (max-width: 579px){
    .footer{
      flex-wrap: wrap;
    }
  }




  .login_pages_body_wrapper{
    width: 100%;
    height: auto;
    background-color: rgb(201, 187, 187);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    


  }
  .main_login{
    width: 40rem;
    height: auto;
    background-color: lightgray;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 4rem;
    border-radius: 2rem;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-style: solid;
    border-right-style: solid;
    border-color: rgb(249, 111, 63);
  }
  .form_header{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border-bottom-style: solid;
    border-color: rgb(249, 111, 63);
    border-top-left-radius: 1.8rem;
    border-top-right-radius: 1.8rem;

    background-color: rgb(43, 59, 65);
    color: rgb(236, 234, 234);

  }
  .login{
    margin: 2rem;
    width: 40rem;
    height: auto;
    
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 0rem;
  }
  #e-mail{
    border-radius: 1rem;
    text-align: center;
  }
  .SendButton {
    padding: 0.5rem 3rem;
    margin: 0.5rem;
    font-size: 1.6rem;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 1.5rem;
    box-shadow: 0 0.9rem #999;
    text-decoration: none;
    
  }
  
  .SendButton:hover {
    background-color: #27bd65;
    color: rgb(249, 111, 63);
  }
  
  .SendButton:active {
    background-color: #27bd65;
    box-shadow: 0 .5rem #999;
    color: rgb(249, 111, 63);
    transform: translateY(.5rem);
  }
  .ResetButton {
    padding: 0.5rem 3rem;
    font-size: 1.6rem;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    outline: none;
    color: white;
    background-color: rgb(141, 82, 82);
    border: none;
    border-radius: 1.5rem;
    box-shadow: 0 9px #999;
    margin: 0.5rem;
  }
  
  .ResetButton:hover {background-color: rosybrown}
  
  .ResetButton:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(.5rem);
  }
  
