.carousel_wrapper{
  width: 100%;
  height: fit-content;
  padding: 0;
  
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: rgb(43, 59, 65);
}
.carousel{
  height: 35rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  list-style: none;
  overflow: hidden;

}
.carousel li a{
  
  display: inline-block;
  transform: translateX();

}


.carousel_item{
  
  height: 35rem;
  display:block
 
  
}