body {
  margin: none;
  padding: none;
  background: rgb(34, 136, 195);
  transition: .4s linear;
  /*background: linear-gradient(93deg, rgba(34,193,195,1) 0%, 
  rgba(253,187,45,1) 100%);*/
  background-repeat: no-repeat;
}



*, *::before, *::after {
  box-sizing: border-box;
  font-weight: normal;
  outline: none;

}
.input_block-one button {
  height: 50px;
  width: 50px;
  font-size: 25px; 
  border-radius: 50%;
  font-family: 'Arimo', sans-serif;
  text-align: center;
  justify-items: center;
  cursor: pointer;
  margin: 5px;
  background-color: antiquewhite;
  outline: none;
}
.input_block-one button:hover, .input_block-two button:hover {
  
  color: tomato;
  transition: ease-in-out .4s;

}
.input_block-one .wide-button{
  width: 100px;
  margin: 5px 12px;
  border-radius: 30px;
}
.input_block-one .ex-wide-button{
  width: 165px;
  border-radius: 30px;
  
}
.input_block-one .operation{
  background: rgb(233,232,232);
  background: radial-gradient(circle, rgba(233,232,232,1) 0%, 
  rgba(246,94,1,1) 100%);
}
.calculator-grid{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 100vh;
  
  }

.output{
  font-family: 'Changa', sans-serif;
  background-color: rgba(34, 31, 31, 0.479);
  width: 550px;
  height: auto;
  min-height: 100px;
  color: azure;
  text-align: end;
  padding: 5px;
  border-radius: 15px;
  letter-spacing: 2px;
  
  word-wrap: break-word;
  word-break: break-all;

}
.output .current-operand{
  font-size: 30px;  
}
.output .previous-operand{
  font-size: 20px;  
}

.input_blocks{
  display: flex;
  flex-direction: row;
}
#vertical-slider__button{
  border-radius: 15px;
  height: 350px;
  width: 30px;
  opacity: .8;
  background-color: blue;
  outline: none;
}
@media screen and (min-width: 600px) {
  #vertical-slider__button {
    display: none;
  }
  .navLinks{
    display: block;
  }
}
@media screen and (max-width: 600px){
  .navLinks{  
    display: none;
    position: fixed;
    
    left: 25%;
    
    opacity: 1;
    transition: .5s linear;
    margin-top: 0px;
  }
  .output{
    position: fixed;
  }
  .input_block-one{
    position: fixed;
    left: 26%;
  }
  #vertical-slider__button{
    position: fixed;
    left: 76%;
  }
  .checkbox-container{
    position: fixed;
    top: 0%;
    left: -35%;
  }
  .input_block-two__empty-block {
   
    font-size: 20px;
  }

  #arrow-hide{
    display: none;
  }
  
  
  
  .output{
    width: 315px;  
    position: relative;
    right: 5px;  
}

.output .current-operand{
  font-size: 20px;  
}
.output .previous-operand{
  font-size: 15px;  
 }
} /* Закрывает медиа запрос */

.navLinks{

background-color: lightblue;
border-radius: 15px;
margin-top: 5px;
}
.navLinks.open{
  display: all;
}

.input_block-two {
  margin: 0 0 0 20px;
}




.input_block-two button {
  height: 50px;
  width: 80px;
  margin: 5px;
  border-radius: 5px;
  background-color: darkblue;
  opacity: .8;
  color: antiquewhite;
  font-size: 25px; 
  font-family: 'Arimo', sans-serif;  
  cursor: pointer;
  
}
.input_block-two__empty-block {
  width: 240px;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  color: rgb(43, 34, 172);
  font-style: italic;
  padding-left: 25px;
  
  
}
#arrow-hide{
  display: none;
}
  .number-button{
    background: rgb(233,232,232);
    background: radial-gradient(circle, rgba(233,232,232,1) 12%, 
    rgba(114,125,147,1) 100%);
}
.ac-button{
  background: rgb(219,182,249);
background: radial-gradient(circle, rgba(219,182,249,1) 0%, 
rgba(127,70,252,0.9588877787443102) 100%);
}
